<section layout="row">

  <md-sidenav
    class="md-sidenav-left sidenav"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-sm')"
    md-whiteframe="4"
    flex-xs="60"
    flex-sm="30"
  >
    <div layout="column">
      <div layout="row" layout-align="end">
        <md-button ng-click="$ctrl.toggleMenu()" hide-gt-sm class="menu-button">
          Close menu <i class="fa fa-arrow-right"></i>
        </md-button>
      </div>
      <a flex class="sidenav__item" md-ink-ripple ng-click="$ctrl.contactDialog($event)">
        Contact
      </a>
      <a flex class="sidenav__item" md-ink-ripple href="https://docs.google.com/document/d/1vtowt3y2xNGnp4uUEr8QYC11D1H6P8DU9K6s_ybeQd0/edit?usp=sharing" target="_blank">
        Resume
      </a>
      <a flex class="sidenav__item" md-ink-ripple href="https://medium.com/nick-ocampo" target="_blank">
        Writing
      </a>
      <a flex class="sidenav__item" md-ink-ripple href="https://thewolfdesign.smugmug.com/Logos" target="_blank">
        Logo gallery
      </a>
      <a flex class="sidenav__item" md-ink-ripple href="https://github.com/WeHateNick/" target="_blank">
        Github
      </a>
    </div>
  </md-sidenav>
  <md-content flex>
    <div layout="column">
      <div hide-gt-sm class="menu-button">
        <md-button ng-click="$ctrl.toggleMenu()"><i class="fa fa-arrow-left"></i> Menu</md-button>
      </div>
      <div layout="row" class="hero">
        <div class="hero__block" ng-class="{'hero__block--down': $ctrl.init === true}" flex="80" flex-xs="95">
          <p class="hero__label">
            My name is
          </p>
          <h1 class="hero__heading">
            Nick Ocampo
          </h1>
        </div>
      </div>
      <div layout="row" class="hero">
        <div class="hero__block" ng-class="{'hero__block--down': $ctrl.init}" flex="80" flex-offset="20" flex-xs="95" flex-offset-xs="5">
          <p class="hero__label">
            I am an
          </p>
          <h1 class="hero__heading">
            Interface designer
          </h1>
        </div>
      </div>
      <div class="section">
        <p class="section__header">
          My career has been focused on three main areas
        </p>
        <div layout="row" layout-gt-xs="column" class="highlight-block">
          <div flex="100" layout="row" layout-xs="column" layout-align="space-apart" class="highlight-block__container">
            <div flex="33" flex-xs="100" class="highlight-block__item" ng-mouseover="$ctrl.setDetails('coding')">
              <div class="highlight-block__image"><img src="assets/images/code-icon.svg"></div>
              <div class="highlight-block__heading">Coding</div>
              <div class="highlight-block__label">8 years</div>
            </div>
            <div flex="33" flex-xs="100" class="highlight-block__item" ng-mouseover="$ctrl.setDetails('design')">
              <div class="highlight-block__image"><img src="assets/images/compass-icon.svg"></div>
              <div class="highlight-block__heading">Design</div>
              <div class="highlight-block__label">5 years</div>
            </div>
            <div flex="33" flex-xs="100" class="highlight-block__item" ng-mouseover="$ctrl.setDetails('strategy')">
              <div class="highlight-block__image"><img src="assets/images/puzzle-piece-icon.svg"></div>
              <div class="highlight-block__heading">Strategy</div>
              <div class="highlight-block__label">6 years</div>
            </div>
          </div>
          <div hide-xs="40" flex="100" layout="row" layout-align="space-apart" class="highlight-block__detail">
            <div flex class="highlight-block__detail__item" ng-repeat="item in $ctrl.details">
              {{item}}
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <p class="section__header">
          I have done work for a variety of clients
        </p>
        <div layout="row" layout-gt-xs="column" class="highlight-block">
          <div flex="100" layout="row" layout-xs="column" layout-align="space-apart" class="highlight-block__container">
            <div flex="33" flex-xs="100" class="highlight-block__item" ng-mouseover="$ctrl.setDetails('startups')">
              <div class="highlight-block__heading">Startups</div>
              <div class="highlight-block__label">4 years</div>
            </div>
            <div flex="33" flex-xs="100" class="highlight-block__item" ng-mouseover="$ctrl.setDetails('agencies')">
              <div class="highlight-block__heading">Agencies</div>
              <div class="highlight-block__label">3 years</div>
            </div>
            <div flex="33" flex-xs="100" class="highlight-block__item" ng-mouseover="$ctrl.setDetails('enterprises')">
              <div class="highlight-block__heading">Enterprises</div>
              <div class="highlight-block__label">1 year</div>
            </div>
          </div>
          <div hide-xs="40" flex="100" layout="row" layout-align="space-apart" class="highlight-block__detail">
            <div flex class="highlight-block__detail__item" ng-repeat="item in $ctrl.details">
              {{item}}
            </div>
          </div>
        </div>
      </div>
      <div class="timeline section">
        <div class="timeline__item">
          <p class="section__header">
            &mdash; Presently
          </p>
          <p class="timeline__intro">I am a UX Designer and Frontend Developer at</p>
          <h3 class="timeline__header">
            Politech
          </h3>
        </div>
        <div class="timeline__item">
          <p class="section__header">
            &mdash; In 2017
          </p>
          <p class="timeline__intro">I was a UX Designer and Frontend Developer at</p>
          <h3 class="timeline__header">
            MortarStone (since 2014)
          </h3>
          <p><a href="https://mortarstone.com">MortarStone</a> is a donation analytics platform for nonprofit organizations and churches</p>
          <div class="timeline__links">
            <link-button wd-href="https://medium.com/nick-ocampo/mortarstone-teams-redesign-689d3d06d017" tooltip="Case Study" flex="33">
              Teams view redesign
            </link-button>
            <link-button wd-href="https://medium.com/nick-ocampo/data-visualization-with-d3-js-1dbce9f94b31" tooltip="Case Study" flex="33">
              Data viz with D3.js
            </link-button>
            <link-button wd-href="https://docs.google.com/document/d/1CEGVMYzGAh57SMIr0YvFx-2H3XjHjOkEBC0MjCgtB7c" tooltip="Sample" flex="33">
              Design style guide
            </link-button>
          </div>
          <p class="timeline__intro">I did some side freelance work for some large enterprises like</p>
          <h3 class="timeline__header">
            HPE and Cisco
          </h3>
          <p>I designed, prototyped and created dynamic reports built in AngularJS</p>
          <div class="timeline__links">
            <link-button wd-href="https://mainstayadvisor.com/go/cisco/tetration/" tooltip="Production app" flex="33">
              Cisco Tetration ROI Tool
            </link-button>
            <link-button wd-href="https://mainstayadvisor.com/go/hpe/hpe-security/" tooltip="Production app" flex="33">
              HPE Security Assessment
            </link-button>
          </div>
        </div>
        <div class="timeline__item">
          <p class="section__header">
            &mdash; In 2016
          </p>
          <p class="timeline__intro">I started a project called</p>
          <h3 class="timeline__header">
            BetaFish
          </h3>
          <p>BetaFish is a feedback gathering application that allows product designers to collect feedback on their products</p>
          <div class="timeline__links">
            <link-button wd-href="https://medium.com/nick-ocampo/designing-a-feedback-widget-499ad09a28a1" tooltip="Case Study" flex="33">
              BetaFish widget design
            </link-button>
            <link-button wd-href="http://betafish.io" tooltip="Production website" flex="33">
              BetaFish marketing website
            </link-button>
            <!-- <link-button wd-href="https://www.wehatenick.com/" tooltip="Case Study" flex="33">
              BetaFish product research
            </link-button> -->
          </div>
        </div>
        <div class="timeline__item">
          <p class="section__header">
            &mdash; In 2015
          </p>
          <p class="timeline__intro">I did some freelance design and development</p>
          <h3 class="timeline__header">
            Freelance work
          </h3>
          <div class="timeline__links" layout="column" layout-gt-sm="row">
            <link-button wd-href="https://medium.com/nick-ocampo/sotelo-for-reno-brand-development-8c044cf9b548" tooltip="Case Study" flex="33">
              Henry Sotelo brand development
            </link-button>
            <link-button wd-href="https://thewolfdesign.smugmug.com/Logo-Design" tooltip="Gallery" flex="33">
              Logo designs for various clients
            </link-button>
            <link-button wd-href="https://medium.com/nick-ocampo/top-speed-development-with-es6-angularjs-and-nodejs-ad059a81f60b" tooltip="Case Study" flex="33">
              Need 2 Speed Registration App
            </link-button>
          </div>
        </div>
        <div class="timeline__item">
          <p class="section__header">
            &mdash; In 2014
          </p>
          <p class="timeline__intro">I was a product manager at an agency</p>
          <h3 class="timeline__header">
            KPS3 (since 2013)
          </h3>
          <p>KPS3 is a digital marketing agency where I primarily focused on product strategy, analytics, SEO and project management</p>
          <div class="timeline__links">
            <link-button wd-href="http://kps3.com/" tooltip="Company website" flex="33">
              KPS3.com
            </link-button>
          </div>
        </div>
        <div class="timeline__item">
          <p class="section__header">
            &mdash; In 2013
          </p>
          <p class="timeline__intro">I was a webmaster</p>
          <h3 class="timeline__header">
            University of Nevada (since 2012)
          </h3>
          <p>Managed website and built an employee database system</p>
        </div>
        <div class="timeline__item">
          <p class="section__header">
            &mdash; In 2012
          </p>
          <p class="timeline__intro">I was a database administator</p>
          <h3 class="timeline__header">
            University of Nevada (since 2011)
          </h3>
          <p>Developed and managed a student-advisor database system</p>
        </div>
      </div>
    </div>
  </md-content>
</section>